.header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 9;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2ch;
    font-weight: bolder;
    max-width: 1000px;
    margin: 0 auto;

    button {
      background-color: lightgray;
      font-weight: inherit;
      padding: 1ch 2ch;
      color: blueviolet;
      border: none;

      &:hover {
        color: lightgray;
        background-color: blueviolet;
      }
    }
  }
}
